.buttons{

    margin:auto;
    text-align: center;

}


.buttons-button{

    display: inline;
    padding: 6px 12px;
    color: #fff;
    background-color: #006195;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
}


.buttons-button:hover{

    background-color: #FFF;
    color: #006195;
    border: 1px solid #006195;
    transition: background-color 1ms linear, color 1ms linear, border 1ms linear;
}


.buttons-button-2{

    
    padding: 6px 40px;

}