.header{

    background-color: #0082c7;
    color: #FFF;
    margin-bottom: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 40px;
    vertical-align: middle;
}

.header-title{

    
    font-size: 25px;
    font-weight: bold;
    display: inline;
}

.header-menu{


    float: right;
    vertical-align: middle;
}


.header-button{

    vertical-align: middle;
    background-color: #006195;
    color: #fff;
    display: inline-block;
    padding: 10px 9px;
    height: 15px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    box-sizing: content-box;
    cursor: pointer;
    
}

.header-button:hover{

    background-color: #FFF;
    color: #006195;
    transition: background-color 1ms linear, color 1ms linear;
}
